.contact {
  text-align: center;
  color: white;
  background: rgb(174, 44, 241);
  background: linear-gradient(
    45deg,
    rgba(174, 44, 241, 1) 0%,
    rgba(119, 118, 255, 1) 100%
  );

  p {
    word-wrap: break-word;
    display: block;
  }

  a {
    color: white;
    text-decoration: none;
  }
}
