.footer {
  color: white;
  background: rgb(242, 142, 38);
  background: linear-gradient(
    0deg,
    rgba(242, 142, 38, 1) 0%,
    rgba(253, 100, 79, 1) 100%
  );

  span {
    width: 360px;
  }
}
